<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi</h1>
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Text</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Vat(20%)</th>
      <th>Total</th>
      <th>Product</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @list.title %></td>
        <td><%= @list.description %></td>
        <td><%= @list.text %></td>
        <td><%= @list.price %></td>
        <td><%= @list.quantity %></td>
        <td><%= @list.vat %></td>
        <td><%= @list.total %></td>
        <td><%= @list.product_id %></td>
      </tr>

  </tbody>
</table>
</body>
</html>