<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Text</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Photo</th>
      <th>Vat(20%)</th>
      <th>Total</th>
      <th>Product</th>
    </tr>
  </thead>

  <tbody>
      <% @lists.each do |item|%>
      <tr>
        <td><%= item.title %></td>
        <td><%= item.description %></td>
        <td><%= item.text %></td>
        <td><%= item.price %></td>
        <td><%= item.quantity %></td>
        <td><%= image_tag item.photo.url %></td>
        <td><%= item.vat %></td>
        <td><%= item.total %></td>
        <td><%= item.product_id %></td>
      
   </tr>
   <% end %>
  </tbody>
</table>
</body>
</html>